.leftDrawer{
    width: 250px;
    height: 100vh;
    opacity: .9;
    background-color: rgb(2, 9, 27);
   
}
.leftnav{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftnav img{
    height: 20px;
   
}
.text{
    color: white;
    cursor: pointer;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    margin: -5px 0px;
    border: 1px solid  rgb(2, 9, 27);
    height: 40px;
    transition: background-color 0.2s ease-in-out;
}
.text:hover{
    height: 40px;
    width: 250px;
    background-color: rgba(28, 36, 57, 0.3);
}